<!-- Animated Circles -->
<div class="container1">

    <div class="grid-container">
        <div class="grid-item ">
            <div class="circle circle-1" style="margin:0 auto">THis s test23</div>
        </div>
        <div class="grid-item ">
            <div class="circle circle-5" style="margin:0 auto">THis s test23</div>
        </div>
        <div class="grid-item ">
            <div class="circle circle-2" style="margin:0 auto">THis s test23</div>
        </div>

        <div class="grid-item ">
            <div class="circle circle-3" style="margin:0 auto">THis s test23</div>
        </div>
        <div class="grid-item ">
            <div class="circle circle-4" style="margin:0 auto">THis s test23</div>
        </div>
        <div class="grid-item ">
            <div class="circle circle-6" style="margin:0 auto">THis s test23</div>
        </div>
   
    </div>
    <marquee class="marquee" direction="left" height="60px" style="font-size:35px; color:white; z-index: 1001;">
        Wish you a very Happy New Year! Mr Dhanya Kumar
    </marquee>     

</div>