
  <div class="container">
    <div>
      <mat-toolbar class="mat-tool-bar">
        <span class="fill-remaining-space"></span>
        <span  class="title-info">Dashboard</span>
        <span class="fill-remaining-space"></span>
      </mat-toolbar>
    </div>


    <div>
      <mat-form-field style="margin-left:50px ; margin-top: 50px;">
        <input matInput [(ngModel)] ="SelectStartDate" [matDatepicker]="picker1" placeholder="Start Date" #startDate (ngModelChange)="onStartDateChange()">
        <mat-datepicker-toggle matSuffix [for]="picker1">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    
      <mat-form-field style="margin-left:50px ; margin-top: 50px;">
        <input matInput  [(ngModel)] ="SelectEndDate" [matDatepicker]="picker2" placeholder="End Date" #endDate (ngModelChange)="onEndDateChange()" >
        <mat-datepicker-toggle matSuffix [for]="picker2">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>

  

    <div class="flex-container"  >
      <div class="column item-left ">
        <ngx-charts-bar-vertical-2d [view]="[view[0],view[1]]" [results]="machineTypeProd" [barPadding]=0
        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [legend]="showLegend" [legendTitle]="legendTitle" [showDataLabel]="true"
        [showGridLines]="true" [roundEdges]="true" [xAxis]="true" [yAxis]="true" >
      </ngx-charts-bar-vertical-2d>
      </div>
      <div class="column item-center"  >
        <ngx-charts-bar-vertical-2d [view]="[view[0],view[1]]" [results]="operatorTypeProd" [barPadding]=0
        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabelOperator"
        [yAxisLabel]="yAxisLabel" [legend]="showLegend" [legendTitle]="legendTitle" [showDataLabel]="true"
        [showGridLines]="true" [roundEdges]="true" [xAxis]="true" [yAxis]="true">
      </ngx-charts-bar-vertical-2d>
      </div>

    </div>

      <div class="flex-container"  >
        <div class="column item-center"  >
          <ngx-charts-bar-vertical-2d [view]="[view[0],view[1]]" [results]="machineNameProd" [barPadding]=0
          [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabelMachineName"
          [yAxisLabel]="yAxisLabel" [legend]="showLegend" [legendTitle]="legendTitle" [showDataLabel]="true"
          [showGridLines]="true" [roundEdges]="true" [xAxis]="true" [yAxis]="true">
        </ngx-charts-bar-vertical-2d>
        </div>
      </div>

  
  </div>
