<mat-list role="list" class="sidebar" >
    <mat-list-item role="listitem"> <a href="">Home</a></mat-list-item>
    <mat-list-item role="listitem"> <a href="#/devices">Production</a></mat-list-item>
    <mat-list-item role="listitem"> <a href="#/dashboard">Dashboard</a></mat-list-item>
    <mat-list-item role="listitem"> <a href="#/users/operators">Operators</a></mat-list-item>
    <mat-list-item role="listitem"> <a href="#/users">Users</a></mat-list-item>    
    <mat-list-item role="listitem"> <a href="#/users/machines">Machines</a></mat-list-item>
    <!-- <mat-list-item role="listitem"> <a href="/users/machines">Products</a></mat-list-item>
    <mat-list-item role="listitem"> <a href="/users/machines">Customers</a></mat-list-item>
    <mat-list-item role="listitem"> <a href="/users/machines">Orders</a></mat-list-item>
    
    <mat-list-item role="listitem"> <a href="/users/machines">Inventory</a></mat-list-item> -->
 </mat-list>
  