<div class="container">
    <mat-toolbar class="mat-tool-bar">
      <span class="fill-remaining-space"></span>
      <span>User Form</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
    
    <form   [formGroup]="form"   (ngSubmit)="onSubmit()"  class="normal-form">
      <!-- <mat-grid-list cols="2" rowHeight="600px">
          <mat-grid-tile> -->
              <div class="controles-container">
                   
                  <!-- For Name of User field -->
                  <mat-form-field class="example-form-field">
                      <mat-label>Name</mat-label>
                      <input matInput type="text" formControlName="name">
                  </mat-form-field>
                  <!-- End of User field -->                         
                  
                  <!-- For email field -->
                  <mat-form-field class="example-form-field">
                      <mat-label>Email</mat-label>
                      <input matInput type="text" formControlName="email">

                  </mat-form-field>
                  <!-- End of email field -->    

                  <!-- For email field -->
                  <mat-form-field class="example-form-field">
                    <mat-label>Role</mat-label>
                    <mat-select [(value)]="selectedRole" formControlName="role">
                      <mat-option value="Manager">Manager</mat-option>
                      <mat-option value="User">User</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- End of email field -->  



              </div> 
          <!-- </mat-grid-tile>
        
      </mat-grid-list> -->
      <button type="submit" mat-raised-button color="primary" class="buttonspace">Submit</button>
      <button  mat-raised-button color="warn" class="buttonspace" (click)="this.router.navigateByUrl('/users');">Cancel</button>      
  </form>
  
  </div>
  
