<mat-toolbar class="header">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleMenu()">
     <mat-icon>menu</mat-icon>
   </button>
   <span class="title-space">CEE PEE FAB Tech</span>
   <span class="example-spacer"></span>

   <button mat-icon-button [matMenuTriggerFor]="menu"  (menuOpened)='getUserName()' aria-label="Example icon-button with a menu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu" >
    <button mat-menu-item >
      <mat-icon >person</mat-icon>
      <span *ngIf="user$ | async as user">{{user.email}}</span>
    </button>    
    <button mat-menu-item (click)='logout()' >
      <mat-icon >logout</mat-icon>
      <span >Logout</span>
    </button>

  </mat-menu>
  
 </mat-toolbar>

