<div class="container">
    <mat-toolbar class="mat-tool-bar">
      <span class="fill-remaining-space"></span>
      <span>Operator Form</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <form   [formGroup]="form"   (ngSubmit)="onSubmit()"  class="normal-form">
      <mat-grid-list cols="2" rowHeight="600px">
          <mat-grid-tile>
              <div class="controles-container">
  
                  <!-- For Name of OPerator field -->
                  <mat-form-field class="example-form-field">
                      <mat-label>Name</mat-label>
                      <input matInput type="text" formControlName="name">
                      <button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
                        <mat-icon>close</mat-icon>
                      </button>
                  </mat-form-field>
                  <!-- End of Operator field -->           

                  <!-- For Join date of OPerator field -->
                  <mat-form-field appearance="fill">
                    <mat-label>Choose a Joining date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="joindate"  (dateChange)="onDateChange()">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
             
                  <!-- For End Join date of OPerator field -->                  
                  
                  <!-- For Phone Number field -->
                  <mat-form-field class="example-form-field">
                      <mat-label>Phone Number</mat-label>
                      <input matInput type="number" formControlName="phonenumber">
                      <button *ngIf="phonenumber" matSuffix mat-icon-button aria-label="Clear" (click)="phonenumber=0">
                        <mat-icon>close</mat-icon>
                      </button>
                  </mat-form-field>
                  <!-- End of Phone number field -->    
                  
   
              </div> 
          </mat-grid-tile>
        
      </mat-grid-list>
  
      <button type="submit" mat-raised-button color="primary" class="buttonspace">Submit</button>
      <button  mat-raised-button color="warn" class="buttonspace" (click)="this.router.navigateByUrl('/users/operators');">Cancel</button>   
  </form>
  
  </div>
  
