/* You can add global styles to this file, and also import other style files */
:root {
  --backcolor:  #286482;
  --head-foot-side:#286482;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    box-sizing: border-box;
  }

  .container{
    margin: 10px;
    width: 98%;
    height: 95vh;
    background-color: white;
    border-width:10px;
    border-radius: 10px;
    overflow: auto;
  }

  .mat-header-cell {
    background: var(--backcolor);
    font-size:20px;
    /* font-weight: bold; */
    color: rgb(255, 255, 255);
  }

  .mat-tool-bar{
    background-color: var(--backcolor);
  }

  .title-info {
    font-size: 25px; /* set size */
    color: rgb(255, 255, 255);
    
  }

  .fill-remaining-space{
    flex: 1 1 auto
  }
  
  /* .flex-container > div {
    background-color: var(--backcolor);
    width: 250px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    border-radius: 10px;
    margin: 0 auto;
  } */


  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    flex: 1; /* divide the container into 3 equal parts*/
    padding: 10px;
  }
  
  .item-left {
    text-align: left;
  }
  
  .item-center {
    text-align: center;
  }
  
  .item-right {
    text-align: right;
  }  

  .mat-raised-but{
    background-color: var(--backcolor);
  }

  .footer1{
    background-color: var( --head-foot-side);
    width: 100%;
    padding: 2px ;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

.foottext{
    color: white;
    float: right;
    /* margin-bottom: 20px; */
}

.toolbar{
  background-color: var( --head-foot-side);
  width:auto;
}

.header{
  position: sticky;
  background-color: var( --head-foot-side);
  width: 100%;
  padding: 2px ;
  top: 0;
}

.headtext{
  color: white;
  float: right;
  margin-bottom: 20px;
}

.sidebar{
  width: 200px;
  height: 99%;
  background-color: var( --head-foot-side);
  
}
.sidebar a {
  text-decoration: none;
  color: white;
}

/* change color of sorting icon when table is not sorted */
.mat-sort-header-button {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: bold;
}

/* change color of sorting icon when table is sorted */
.mat-sort-header-arrow {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: bold;
}

@media (max-width: 600px) {
  mat-paginator {
    display: none;
  }
  mat-header-row {
    position: static;
  }
  mat-table{
    height: 100vh;
  }
  
}