/* .container{
  margin: 10px;
  width: 98%;
  height: 95%;
  background-color: white;
  border-width:10px;
  border-radius: 10px;
} */
.example-form-field {
    width: 80%;
  }

  form.normal-form {
    margin: 10px;
  }
  
  controls-container{
    width: 100%;
    padding: 5px;
  }

  .buttonspace{
    margin: 5px;
  }

  .fill-remaining-space{
    flex: 1 1 auto
  }

  form {
    text-align: center;
  }