<div class="container">
    <mat-toolbar class="mat-tool-bar">
        <span class="fill-remaining-space"></span>
        <span class="title-info">User Information</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <!-- This flex container start -->
    <div class="flex-container">
        <div class="column item-left">
            <img src="assets/images/icons8-txt-100.png" alt="Excel Icon" [cdkCopyToClipboard]="copyData2()">
            <img src="assets/images/icons8-microsoft-excel-100.png" alt="Excel Icon" (click)="exportexcel()">
            <img src="assets/images/icons8-pdf-100.png" alt="PDF Icon" (click)="exportpdf()">
        </div>
        <div class="column item-center">

        </div>
        <div class="column item-right">
            <img class="imgcontainer" src="../../assets/images/icons8-add-new-100.png" alt=""
                (click)="this.router.navigateByUrl('users/user')">
            <img class="imgcontainer" src="../../assets/images/icons8-remove-100.png" alt="" (click)="delete()">
        </div>
    </div>
    <!-- This is flex container end -->

    <!-- Start of search button -->
    <div class="example-button-row">
        <mat-form-field floatLabel="never">
            <input #search matInput placeholder="Search" (keyup)="searchThis(search.value)">
        </mat-form-field>
    </div>
    <!-- End of search buttom -->
    <!-- CRUD Buttons -->
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" id="excel-table">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="userSelection.hasValue() && isAllSelected()"
                        [indeterminate]="userSelection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? userSelection.toggle(row) : null" [checked]="userSelection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>



            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <!-- End Name Column -->


            <!-- email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mail </th>
                <!-- <td mat-cell *matCellDef="let element"> {{element.email}} </td> -->
                <td mat-cell *matCellDef="let element"> <a href="#/users/user?email={{element.email}}">{{element.email}}
                    </a>
            </ng-container>
            <!-- End email Column -->

            <!-- email Column -->
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Role </th>
                <td mat-cell *matCellDef="let element"> {{element.role}} </td>
            </ng-container>
            <!-- End email Column -->

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let row">
                    <img src="../../assets/images/icons8-remove-48.png" alt="" (click)="deleteRow(row)">
                </td>
            </ng-container>

            <!-- This displays all columns and added the selection toggle for selection check box -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr> -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>

    <mat-paginator #devicePaginator  [pageIndex]="1" [pageSize]="100" [pageSizeOptions]="[5, 10, 15, 20,100]" showFirstLastButtons></mat-paginator>    

</div>