<div class="container">
    <mat-toolbar class="mat-tool-bar">
        <span class="fill-remaining-space"></span>
        <span class="title-info">Operator Information</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <!-- This flex container start -->
    <div class="flex-container">
        <div class="column item-left">
            <img src="assets/images/icons8-txt-100.png" alt="Excel Icon" [cdkCopyToClipboard]="copyData2()">
            <img src="assets/images/icons8-microsoft-excel-100.png" alt="Excel Icon" (click)="exportexcel()">
            <img src="assets/images/icons8-pdf-100.png" alt="PDF Icon" (click)="exportpdf()">
        </div>
        <div class="column item-center">

        </div>
        <div class="column item-right">
            <img class="imgcontainer" src="../../assets/images/icons8-add-new-100.png" alt=""
                (click)="this.router.navigateByUrl('users/operator')">
            <img class="imgcontainer" src="../../assets/images/icons8-remove-100.png" alt="" (click)="delete()">
        </div>
    </div>

    <!-- Start of search button -->
    <div class="example-button-row">
        <mat-form-field floatLabel="never">
            <input #search matInput placeholder="Search" (keyup)="searchThis(search.value)">
        </mat-form-field>
    </div>
    <!-- End of search buttom -->
    <!-- This is flex container end -->
    <!-- CRUD Buttons -->
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort [matSortActive]="'_id'" [matSortDirection]="'desc'"
            class="mat-elevation-z8" id="excel-table">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="operatorSelection.hasValue() && isAllSelected()"
                        [indeterminate]="operatorSelection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? operatorSelection.toggle(row) : null"
                        [checked]="operatorSelection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let element"> {{element._id}} </td>
            </ng-container>
            <!-- End Position Column -->

            <!-- Joining Date Column -->
            <ng-container matColumnDef="joindate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Joining Date </th>
                <td mat-cell *matCellDef="let element"> {{element.joindate | date:'mediumDate'}} </td>
            </ng-container>
            <!-- End Joining Date Column -->

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <!-- <td mat-cell *matCellDef="let element"> {{element.name}} </td> -->
                <td mat-cell *matCellDef="let element"> <a href="#/users/operator?Id={{element._id}}">{{element.name}}
                    </a></td>
            </ng-container>
            <!-- End Name Column -->

            <!-- Ph Number Column -->
            <ng-container matColumnDef="phonenumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number </th>
                <td mat-cell *matCellDef="let element"> {{element.phonenumber}} </td>
            </ng-container>
            <!-- End Ph Number Column -->

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let row">
                    <img src="../../assets/images/icons8-remove-48.png" alt="" (click)="deleteRow(row)">
                </td>
            </ng-container>

            <!-- This displays all columns and added the selection toggle for selection check box -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr> -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>

    <mat-paginator #devicePaginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

</div>